<div *ngIf="mission">

  <button (click)="goBack()">go back</button>
  <h2>{{mission.missionName | uppercase}} Edit</h2>
  <div><span>id: </span>{{mission.id}}</div>
  <div>
    <label>Mission name:
      <input [(ngModel)]="mission.missionName" placeholder="Mission name"/>
    </label>
  </div>
  <div>
    <label>Client name:
      <input [(ngModel)]="mission.clientName" placeholder="Client name"/>
    </label>
  </div>
  <div>
    <label>City:
      <input [(ngModel)]="mission.city" placeholder="City"/>
    </label>
  </div>
  <button (click)="save()">Save</button>
</div>

