<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Incription</title>
</head>
<body>
<ng-form method="POST" action="">
  <fieldset>
    <legend>Inscription</legend>
      <input type="text" name="nom" placeholder="Nom" />
      <br/>
      <input type="text" name="prenom" placeholder="Prenom" />
      <br/>
      <input type="text" name="adresse" placeholder="Adresse" />
      <br/>
      <input type="text" name="email" placeholder="Email" />
      <br/>
      <input type="submit" class="btn" value="Valider" />
  </fieldset>
</ng-form>
</body>
</html>
