<div *ngIf="mission" class="mission-details-container" id="mission-file">

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{mission.missionName}}</mat-card-title>
      <mat-card-subtitle>{{mission.clientName}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{mission.image}}" alt="Mission photo">
    <mat-card-content>
      <p class="mat-h4">{{mission.city}}, {{mission.region}}</p>
      <p class="mat-body-2">{{mission.startDate | date:'longDate'}} - {{mission.endDate | date:'longDate'}}</p>
      <p class="mat-body-2">Cost of operation: {{mission.cost | currency:'EUR'}}</p>
      <p class="mat-body-1">{{mission.description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button (click)="exportPdf()">EXPORT</a>
      <a mat-button routerLink="/edit/{{mission.id}}">EDIT</a>
      <a mat-button color="warn" (click)="delete(mission)">DELETE</a>
    </mat-card-actions>
  </mat-card>

</div>
