<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste</title>
</head>
<body>
<ul>
  This app has many of the features you'd expect to find in a data-driven application. It acquires and displays a list of heroes, edits a selected hero's detail, and navigates among different views of heroic data.
  <ul>
    <li>By the end of this tutorial you will be able to do the following:</li>
    <li>Use built-in Angular directives to show and hide elements and display lists of hero data.</li>
    <li>Create Angular components to display hero details and show an array of heroes.</li>
    <li>Use one-way data binding for read-only data.</li>
    <li>Add editable fields to update a model with two-way data binding.</li>
    <li>Bind component methods to user events, like keystrokes and clicks.</li>
    <li>Enable users to select a hero from a master list and edit that hero in the details view.</li>
    <li>Format data with pipes.</li>
    <li>Create a shared service to assemble the heroes.</li>
    <li>Use routing to navigate among different views and their components.</li></li>
  </ul>
</html>
